@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;
  --headline-color: #393939;
  --inactive-text-color: #3939399d;

  --primary-font-family: "Monserat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--secondary-font-family);
  height: 100vh;
  margin: 0;
}

/* START Burger menu */

#burger {
  position: absolute;
  opacity: 0;
}

/* END Burger menu */

/* Start Navigation  */
#close {
  position: absolute;
  opacity: 0;
}

.nav__closeimg {
  height: 1.3em;
  color: #fefdfd;
  position: center;
}

.nav__label {
  align-self: center;
  padding-right: 1.75em;
}

.nav {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 8.8em 16.5em 1fr;
  background-color: var(--secondary-color);
  color: #fefdfd;
  padding-left: 1.75rem;
  opacity: 0;
  position: absolute;
  left: -100%;
  width: 100%;
  transition: opacity 1s, transform 1s;
  transform: translateX(0%);
  z-index: 1; /*verschiebt das Element in die Tiefe*/
}

.nav__title {
  font-size: 0.9rem;
  align-self: center;
  text-transform: uppercase;
  font-family: var(--primary-font-family);
}

.nav a {
  text-decoration: none;
  color: #fefdfd;
}

.nav__list--big,
.nav__list--small {
  grid-column: span 2;
  list-style: none;
  padding: 0;
}
.nav__list--big {
  font-size: 2rem;
  display: grid;
  margin: 0;
}
.nav__list--small li {
  padding: 1.5em 0;
}

.burger:checked ~ nav {
  opacity: 1;
  transform: translateX(100%);
}

/* End Navigation */

/* START New Task Site */

/* BLOCK */
.form {
  position: relative;
  height: 100%;
  display: grid;
  align-content: center;
  row-gap: 3em;
  padding: 1.5em 0 6.2em 1.5em;
}

/* ELEMENT */
.form__title {
  font-size: 3em;
  font-weight: normal;
}

.form__subtitle {
  text-transform: uppercase;
}

/* ELEMENT */
.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  font-size: 1.4em;
  padding: 1.3em 2em;
}

/* ELEMENT */
.form__input {
  font-size: 2.8em;
  border: none;
  border-bottom: 2px solid var(--headline-color);
  width: 100%;
  padding-right: 0.5em;
}

.form__input::placeholder {
  opacity: 0.4;
}

/* BLOCK */
.radio-group {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5em;
  background-color: rgb(212, 212, 212, 0.1);
  width: 100%;
  padding: 2em;
}

/* ELEMENT */
.radio-group__title {
  color: var(--inactive-text-color);
}

.radio-group__input {
  position: absolute;
  opacity: 0;
}

.radio-group__input:checked + .radio-group__title {
  color: var(--primary-color);
}

.radio-group__input:focus-visible + .radio-group__title {
  outline: thin solid;
}
/* END New Task Site */

/* START Dashboard Site */
.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
}

.layout__burger-menu {
  grid-column: 1 / 4;
  justify-self: start;
  margin: 3em;
  margin-left: 1em;
  background: none;
  border: none;
  height: 2em;
  width: 2em;
}

.layout__header {
  grid-column: 1 / 3;
  font-size: 3em;
  padding-bottom: 0.5em;
  margin: 0;
  margin-left: 0.3em;
}

.layout__notifications {
  margin-right: 1em;
  justify-self: end;
  align-self: center;
  background: none;
  border: none;
}

.layout__new-task {
  grid-column: 3 / 4;
  padding: 2em 3em;
  background: var(--primary-color);
  display: grid;
  border-top-left-radius: 0.5em;
}

.date-selector-group {
  grid-column: 1 / 2;
  grid-row: span 2;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.tasks-group {
  grid-column: 2 / 4;
  display: grid;
  padding: 3em 1em;
  font-size: 1.3em;
  align-content: start;
  row-gap: 2.5em;
  overflow: auto;
  background-color: rgb(212, 212, 212, 0.1);
}

.tasks-group__input {
  position: absolute;
  opacity: 0;
}

.tasks-group__input:checked + .tasks-group__task {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}
/* END Dashboard Site */
